.open-roles-section {
    background: var(--Pry-shade-03, #28360E);
    padding-bottom: 80px;
    height: 800px;
    /* overflow-y: scroll; */
}
.open-roles-header {
    align-items: center;
    text-align: center;
    padding-top: 20px;
    color: var(--Bg-White, #FFF);
font-family: "Nunito Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
}

.open-roles-header p {
    font-size: 14px;
    margin-top: -10px;
}

.job-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 20px;
   max-height: 500px;   /* adjust this based on your design */
  overflow-y: auto;
  scrollbar-width: none;   /* Firefox */
  -ms-overflow-style: none; 
}