.footer-container {
    display: flex;
    background-color: #FCFBFA;
    justify-content: space-around;
    gap: 80px;
    padding:  60px 100px;
    margin-bottom: 160px;
}
div > h3 {
    color: var(--Type-Pry-text, #302C29);
font-family: "Nunito Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 155.556% */
}
div > p {
    color: var(--Type-Sec-text, #7D756C);
font-family: "Nunito Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 175% */
}
.footer-logo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logos {
    display: flex;
    gap: 10px;
}